@{
    ViewData["Title"] = "Form Submitted";
}
@model Mission4.Models.FormResponse
<!--Confirmation page for after form has been filled and data entered into database-->
<h2>The movie @Model.Title, has been submitted!</h2>