@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<!--This is the home page containing the picture of Joel-->
<div class="text-center">
    <h1>Welcome to the Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" height="300"/>
</div>
<br />
<div>
    <p>Enter a movie using the link at the top!</p>
</div>