@{
    ViewData["Title"] = "My Podcasts";
}
<!--This is the podcast page that contains a link to the baconsale podcast-->
<h1>My Podcasts</h1>
<br />
<div>
    <p>Check out this link below to see my super cool podcast!</p>
    <br />
    <!--Link to the podcast-->
    <a href=" https://baconsale.com/" target="_blank">View My Podcast!</a>
</div>